// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2021 NXP
 * Copyright 2023 Variscite Ltd.
 */

/dts-v1/;

#include "imx93-var-som.dtsi"

/{
	model = "Variscite VAR-SOM-MX93 on Symphony-Board";
	compatible = "variscite,imx93-var-som", "fsl,imx93";

	aliases {
		ethernet1 = &fec;
	};

	chosen {
		bootargs = "console=ttyLP0,115200";	
		stdout-path = &lpuart1;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		audio: audio@a4120000 {
			compatible = "shared-dma-pool";
			reg = <0 0xa4120000 0 0x100000>;
			no-map;
		};
	};

	reg_usdhc2_vmmc: regulator-usdhc2 {
		compatible = "regulator-fixed";
		regulator-name = "VSD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&pca9534 4 GPIO_ACTIVE_HIGH>;
		off-on-delay-us = <200000>;
		startup-delay-us = <200000>;
		enable-active-high;
	};

        reg_dsi_bridge: regulator-dsi-bridge {
                compatible = "regulator-fixed";
                regulator-name = "DSI_EN";
                gpio = <&pca9534 6 GPIO_ACTIVE_HIGH>;
		regulator-always-on;
                enable-active-high;
        };

};



&iomuxc {
	pinctrl-names = "default";
	status = "okay";

	pinctrl_lpi2c1_gpio: lpi2c1grp-gpio {
		fsl,pins = <
			MX93_PAD_I2C1_SCL__GPIO1_IO00			0x31e
			MX93_PAD_I2C1_SDA__GPIO1_IO01			0x31e
		>;
	};

	pinctrl_lpi2c1: lpi2c1grp {
		fsl,pins = <
			MX93_PAD_I2C1_SCL__LPI2C1_SCL			0x40000b9e
			MX93_PAD_I2C1_SDA__LPI2C1_SDA			0x40000b9e
		>;
	};

	pinctrl_lpi2c5: lpi2c5grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO23__LPI2C5_SCL			0x40000b9e
			MX93_PAD_GPIO_IO22__LPI2C5_SDA			0x40000b9e
		>;
	};

	pinctrl_lpi2c5_gpio: lpi2c5grp-gpio {
		fsl,pins = <
			MX93_PAD_GPIO_IO23__GPIO2_IO23			0x31e
			MX93_PAD_GPIO_IO22__GPIO2_IO22			0x31e
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX93_PAD_UART1_RXD__LPUART1_RX			0x31e
			MX93_PAD_UART1_TXD__LPUART1_TX			0x31e
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
                        MX93_PAD_SD2_CLK__USDHC2_CLK                    0x15fe
                        MX93_PAD_SD2_CMD__USDHC2_CMD                    0x13fe
                        MX93_PAD_SD2_DATA0__USDHC2_DATA0                0x13fe
                        MX93_PAD_SD2_DATA1__USDHC2_DATA1                0x13fe
                        MX93_PAD_SD2_DATA2__USDHC2_DATA2                0x13fe
                        MX93_PAD_SD2_DATA3__USDHC2_DATA3                0x13fe
                        MX93_PAD_SD2_VSELECT__USDHC2_VSELECT            0x51e
		>;
	};
};

&lcdif {
	status = "okay";
	assigned-clock-rates = <484000000>, <121000000>, <400000000>, <133333333>;
};

&lpi2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep", "gpio";
	pinctrl-0 = <&pinctrl_lpi2c1>;
	pinctrl-1 = <&pinctrl_lpi2c1_gpio>;
	pinctrl-2 = <&pinctrl_lpi2c1_gpio>;
	scl-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&lpi2c5 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep", "gpio";
	pinctrl-0 = <&pinctrl_lpi2c5>;
	pinctrl-1 = <&pinctrl_lpi2c5_gpio>;
	pinctrl-2 = <&pinctrl_lpi2c5_gpio>;
	scl-gpios = <&gpio2 23 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio2 22 GPIO_ACTIVE_HIGH>;
	status = "okay";

	pca9534: gpio@20 {
		status = "okay";
		compatible = "nxp,pca9534";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&lpuart1 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	clocks = <&clk IMX93_CLK_LPUART1_GATE>, <&clk IMX93_CLK_LPUART1_GATE>;
	clock-names = "ipg", "per";
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
        pinctrl-0 = <&pinctrl_usdhc2>;
        pinctrl-1 = <&pinctrl_usdhc2>;
	pinctrl-2 = <&pinctrl_usdhc2>;
	non-removable;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	bus-width = <4>;
	status = "okay";
	no-sdio;
	no-mmc;
};
